<ion-view class="fondo1 fond1"view-title="Dashboard">
  <ion-content class="fondo1 fond1" class="padding"><br>
    <div class="encabezado"><p class="titlewater">importancia del agua</p></div>
  <br>
  <div class="contenedor"><br><br><br>
  	<div class="row responsive-sm xs centro">
  		<div class="col col-center">
  	<iframe  class=""width="600" height="400" src="https://www.youtube.com/embed/NSdmmkNiqgw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <h1 class="importancia">importancia del agua en nuestro organismo</h1><br>
      <p class="waterbody">El cuerpo está formado en más de un 65 por ciento por agua. El agua es más importante para sobrevivir que la comida, si se considera que se puede resistir sin alimentos sólidos durante semanas, no ocurre lo mismo con la ausencia de agua. El cuerpo la almacena en grandes cantidades y necesita reponerla constantemente.</p><br>
      <p class="waterbody">La importancia del agua reside en que esta lleva los nutrientes a las células, ayuda a la digestión formando secreciones estomacales, elimina los residuos, mantiene los riñones sanos y aporta una hidratación constante a la piel, ojos, boca y nariz, lubrica las articulaciones, regula la temperatura corporal y el metabolismo.</p>
 		<div class="card">
      <input type="checkbox" name="">
      <div class="toggle">+</div>
      <div class="imgBx">
      <img src="../img/agua.jpg">
      </div>
      <div class="details"><h1>importancia del agua</h1> <br>     
      <p>El agua es un elemento de la naturaleza, integrante de los ecosistemas naturales, fundamental para el sostenimiento y la reproducción de la vida en el planeta ya que constituye un factor indispensable para el desarrollo de los procesos biológicos que la hacen posible. </p></div>
    </div>
  </div>
</div>
</div>
<div class="contenedortabla">
    <h1 class="centrado borde">Tabla Nutricional Para Los Jovenes</h1>
    <table>
    <thead class="letra">
    <tr>
      <th class="centrado">Alimentos</th>
      <th class="centrado">Azucar</th>
      <th class="centrado">Carbohidratos</th>
      <th class="centrado">Calorias</th>
      <th class="centrado">Proteinas</th>
      <th class="centrado">Cantidad por 100g</th>
    </tr>
    </thead>
    <tbody>
    <tr class="letra3">
      <td class="centrado">Agua</td>
      <td class="centrado">0g</td>
      <td class="centrado">0g</td>
      <td class="centrado">0g</td>
      <td class="centrado">0g</td>
      <td class="centrado">Cantidad por 100g</td>
    </tr>
    <tr class="letra3">
      <td class="centrado">Carnes</td>
      <td class="centrado">0g</td>
      <td class="centrado">0g</td>
      <td class="centrado">143</td>
      <td class="centrado">26g</td>
      <td class="centrado">Cantidad por 100g</td>
    </tr>
    <tr class="letra3">
      <td class="centrado">Frutas</td>
      <td class="centrado">0.7g</td>
      <td class="centrado">9g</td>
      <td class="centrado">160</td>
      <td class="centrado">2g</td>
      <td class="centrado">Cantidad por 100g</td>
    </tr>
    <tr class="letra3">
      <td class="centrado">Verduras</td>
      <td class="centrado">3.1g</td>
      <td class="centrado">13g</td>
      <td class="centrado">65</td>
      <td class="centrado">2.9g</td>
      <td class="centrado">Cantidad por 100g</td>
    </tr>
    <tr class="letra3">
      <td class="centrado">Legubres</td>
      <td class="centrado">6g</td>
      <td class="centrado">14g</td>
      <td class="centrado">81</td>
      <td class="centrado">5g</td>
      <td class="centrado">Cantidad por 100g</td>
    </tr>
    <tr class="letra3">
      <td class="centrado">Lacteos</td>
      <td class="centrado">5g</td>
      <td class="centrado">5g</td>
      <td class="centrado">46</td>
      <td class="centrado">1.6g</td>
      <td class="centrado">Cantidad por 100g</td>
    </tr>
    </tbody>
  </table>
</div>
  </ion-content>
</ion-view> 