<ion-view view-title="Account">
  <ion-content>
  	<div class="container fondoanti">
	<div class="rowa">
	 <div class="col separadorxd"></div>	
	
	<div class="col"><h1 class="titulo">Metodos anticonceptivos</h1></div>
  </div>
  	</div>
  	<div class="container2">
  		<div class="row responsive-sm xs">
  		 <div class="col"><br><h2 class="text-center tm">Anticonceptivo de la mujer</h2><br>
  		 	<p class="text-center pm">No obstante, los hábitos y prácticas sexuales hacen que ninguno de estos métodos anticonceptivos sea perfecto. Los anticonceptivos orales, por ejemplo, no ofrecen protección frente a las enfermedades de transmisión sexual y el principal hándicap en su uso es tener que tomarlos cada día a la misma hora.</p><br> <img src="../img/antimujer.jpg" class="imga img-responsive"></div>
  		 <div class="col"><br><h2 class="text-center th">Anticonceptivo del Hombre</h2><br> <p class="text-center ph">
  		 	Actualmente hay menos opciones de métodos anticonceptivos para hombres que las mujeres, existen cinco opciones para prevenir el embarazo, la vasectomía que por lo general es permanente, la abstinencia, el condón, las relaciones sexuales sin penetración y el retiro del pene antes de eyacular. ... Pastilla anticonceptiva.
  		 </p><br>
  		 <img src="../img/antihombre.jpg" class="imga"></div>
  		</div>
  	</div>
    <div class="container3"><br><br>
  <button class="diseñoboton">
    <p class="titulo2">metodos anticonceptivos</p>
  </button>  
  <h1 class="as">assaasa</h1>
    </div>
  </ion-content>
</ion-view>
