<ion-view  class="fondoadn"view-title="Chats">
  <ion-content class="fondoadn">
    <
    <div class='dna'>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
</div>


  </ion-content>
</ion-view>
