
.fondoanti {
	background-image: url("../img/fondoxd.jpg");
	 background-repeat: no-repeat;
    background-size: cover;
	height: 600px;
}

.col h1 {
	color: #FFF;
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	font-family: Bookman_Old_Style

}
.container2 {
	background-color: #FFF;
	height: 450px;
}
.imga {
	width: 300px;
	height: 150px;
	margin-left: 25%;
}
.tm {
	color: #474747;
	font-size: 28px;
	font-family: Bookman_Old_Style
}
.pm {
	color: #6E6E6E;
	font-size: 17px;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
}
.th {
	color: #474747;
	font-size: 28px;
	font-family: Bookman_Old_Style
}
.ph {
	color: #6E6E6E;
	font-size: 17px;
	text-align: justify;
	padding-left: 6%;
	padding-right: 6%;
}
.container2 img {
	transition: all .7s ease
}
.container2 img:hover {
	transform: scale(.9);	
}
.container3 img {
	transition: all .7s ease
}
.container3 img:hover {
	transform: scale(.9);	
}
.container3 {
	background: #1A324A;
	height: 1500px;
}

.a {
	top: 10%;
	left: 5%;
}
.a p {
	font-size: 30px;
	color: #000;
}
@media screen and (max-width:800px){
	.container2 {
		height:700px; 
	}	
	.imga {
		margin: 0;
		width: 70%;
		margin-left: 12%;
	}
	.imgb {
		margin: 0;
		width: 70%;
		margin-right: 20px;
	}
	.imgc {
	width: 300px;
	height: 150px;
	padding-top: 3%;
	margin-left: 25%;
	}

}
@media screen and (max-width:600px){
	.container2 {
		height:1000px; 
	}	
	.imga {
		margin: 0;
		width: 70%;
		margin-left: 12%;
	}
	.imgb {
		margin: 0;
		width: 70%;
		margin-right: 20px;
	}
	.imgc {
	width: 300px;
	height: 150px;
	padding-top: 3%;
	margin-left: 25%;
	}

}

/*mostrar js*/

.texto{
  margin-top: 100px;
  width: calc(100%-20px);
  background-color: white;
  padding:10px;
  font-size: 18px;
}
.Diferentes {

}
.oculto{
  display: none;
}

.boton{
  background:rgba(255,255,255,0.1); 
  border: solid #000;
  border-radius:5%;
  position: absolute;
  top: 40%;
  left: 12%;
  transform: translate(-50%,-50%);
  width: 230px;
  height: 70px;
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  letter-spacing: 2px;	
}
.boton:hover{
	color: #FFF;
	background: #0C2A42
}
.condot {
	color: #474747;
	font-size: 28px;
	text-decoration: underline;
	font-family: Bookman_Old_Style

}
.condonp {
	color: #6E6E6E;
	font-size: 17px;
	text-align: center;
	padding-left: 6%;
	padding-right: 6%;

}
.condonpp {
	color: #6E6E6E;
	font-size: 17px;
	text-align: center;
	padding-left: 8%;
	padding-right: 8%;

}
.imgb {
	width: 350px;
	height: 200px;
	padding-top: 3%;
	margin-left: 25%;
	box-shadow: 3px 3px 3px rgba(81,81,86, .5) 
}
.imgc {
	width: 350px;
	height: 200px;
	padding-top: 1%;
	margin-left: 35%;
	box-shadow: 3px 3px 3px rgba(81,81,86, .5) 
}