.fondo1 {
   background: linear-gradient(135deg, #22ACEC, #09273E);
 
}
.encabezado {
  height:40px;
  background: #FFF;
}
.titlewater {
  color: #000;
  text-align: center;
  padding-top: .8%;
  text-shadow: 1px 1px 1px #000;
  font-size: 30px;
  font-family: sans-serif;
  text-transform: capitalize;
}
.importancia {
  color: #FFF;
  padding-left: 28%;
}
.waterbody {
  color: #000;
  padding-left: 30%;

}
iframe {
  
  width: 700px;
  height: 400px;
  margin-left: 27%;
  box-shadow: 2px 2px 2px #000
}
.centro {
  text-align: center;
}
/*toggle bottom*/
.card {
  margin-left: 35%;
  position: relative; 
  width: 600px;
  height: 300px;
  background:#262626;
  overflow: hidden;
}
input, .toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  outline:  none;
  z-index: 10; 
}
input {
  opacity: 0;
}
.toggle {
  pointer-events: none;
  border-radius: 50%;
  background: #FFF;
  transition: 0.7s;
  text-align: center;
  line-height: 30px;
  font-size: 36px;
  color: #000;
  box-shadow: 0 0 0 0px #4DB8AA ;
}
/**ancho del color*/
input:checked ~ .toggle {
  box-shadow: 0 0 0 650px #45D4C0  ;
  transform: rotate(250deg);

}
.imgBx,
.details {
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
}
.imgBx img {
  width: 100%;
  height: 100%;
}
.details {
  padding: 20px;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none; 
  opacity: 0;
}
input:checked ~ .details {
  opacity: 0;
  transition-delay: 3s;
  transition: 4s;
  opacity: 1;
}
.details h1 {
  margin:0;
  padding: 0;
  color: #000;
}
/**texto*/
div h1 {
  text-transform: capitalize;
  text-shadow: 1px 1px 2px ;
}
div p {
  font-size: 20px;

}

.contenedor {
  width:80%;
}
@media screen and (max-width: 1000px) {
 
 .fond1 {
background: linear-gradient(135deg, #3F698A, #081E2F);
 }
 .contenedor {
  width:100%;
 }
 .importancia {
  padding-left: 0;
  font-size: 30px;
  padding-top: .5%;
 }
 .waterbody {
  padding-left: 0;
 }
 video {
  width:100%;
  height: 250px;
  margin: 1%;
 }
 .card {
  width: 100%;
  margin:1%;
  height: 350px;
 }
}
.fondoC {
  background: #000;
  height: 560px;
}
@media screen and (max-width: 500px) {
 
 .fond1 {
   background: linear-gradient(135deg, #60B0EE, #478FC6);
 }
 .contenedor {
  width:100%;
 }
 .importancia {
  padding-left: 0;
  font-size: 30px;
  padding-top: .5%;
 }
 .waterbody {
  padding-left: 0;
 }
 video {
  width: 100%;
  margin-left: 0;
 }
 .card {
  width: 100%;
  margin-left: 0;
 }
}
/*tabla nutricional*/
canvas {
  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff2323;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  align-items: center;
  justify-content: center;
}

p {
    margin-top: 20px;
    text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  background: black url("https://www.desktop-background.com/download/540x960/2015/05/22/952353_dna-adn-hd-wallpapers-desktop-backgrounds-mobile-wallpapers_1920x1080_h.png")center;
}
@media screen and (max-width: 1000px){
  .adnfont{
    background: url("https://www.desktop-background.com/download/540x960/2015/05/22/952353_dna-adn-hd-wallpapers-desktop-backgrounds-mobile-wallpapers_1920x1080_h.png");
  }
}
.estugar{
  width: 320px;
  height: 200px;
}
.centrado{
  text-align: center;
}
.izquierdo{
  text-align: left;
}
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #a29f9f91; 
  }
  th { 
    background:; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: solid #303030 1px; 
    text-align: left; 
  }


  /*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: solid red 1px; }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: solid red 1px;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: relative;
      /* Top/left values mimic padding */
      top: 0px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1) { font-weight:bold;font-size:150%;margin-top:5px; }
    td:nth-of-type(1):before { content: ""; }
    td:nth-of-type(2):before { content: ""; }
    td:nth-of-type(3):before { content: ""; }
    td:nth-of-type(4):before { content: ""; }
    td:nth-of-type(5):before { content: ""; }
    td:nth-of-type(6):before { content: ""; }
    td:nth-of-type(7):before { content: ""; }
    td:nth-of-type(8):before { content: ""; }
    td:nth-of-type(9):before { content: ""; }
    td:nth-of-type(10):before { content: ""; }
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    body {
      padding: 0;
      margin: 0;
      width: 320px; }
    }

  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
      width: 475px;
    }
  }

/*ADN 3D*/
.fondoadn {
  background: linear-gradient(135deg, #160C23, #7B6762);
}
.separadorxd {
  height: 200px;
}
.ADN{
  font-size: 50px;
  color: #FFF;
  padding-left: 3%; 

}
  .dna {
  width: 10em;
  margin: 0 auto;
  padding: 1em;
  padding-right:15%; 
  perspective: 60em;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0) rotateY(40deg);
}
.dna .protein {
  margin: 0 1em 1em;
  width: 8em;
  height: 1em;
  transform-style: preserve-3d;
  animation: rot 2s linear infinite;
  position: relative;
}
.dna .protein:nth-of-type(20) {
  animation-delay: 2s;
  background: linear-gradient(to right, #2980b9 50%, #2980b9 50%);
}
.dna .protein:nth-of-type(19) {
  animation-delay: 1.9s;
  background: linear-gradient(to right, #f1c40f 50%, #2ecc71 50%);
}
.dna .protein:nth-of-type(18) {
  animation-delay: 1.8s;
  background: linear-gradient(to right, #2980b9 50%, #2980b9 50%);
}
.dna .protein:nth-of-type(17) {
  animation-delay: 1.7s;
  background: linear-gradient(to right, #2980b9 50%, #2ecc71 50%);
}
.dna .protein:nth-of-type(16) {
  animation-delay: 1.6s;
  background: linear-gradient(to right, #f1c40f 50%, #2980b9 50%);
}
.dna .protein:nth-of-type(15) {
  animation-delay: 1.5s;
  background: linear-gradient(to right, #2980b9 50%, #2ecc71 50%);
}
.dna .protein:nth-of-type(14) {
  animation-delay: 1.4s;
  background: linear-gradient(to right, #2980b9 50%, #e67e22 50%);
}
.dna .protein:nth-of-type(13) {
  animation-delay: 1.3s;
  background: linear-gradient(to right, #f1c40f 50%, #2ecc71 50%);
}
.dna .protein:nth-of-type(12) {
  animation-delay: 1.2s;
  background: linear-gradient(to right, #2ecc71 50%, #2980b9 50%);
}
.dna .protein:nth-of-type(11) {
  animation-delay: 1.1s;
  background: linear-gradient(to right, #2980b9 50%, #f1c40f 50%);
}
.dna .protein:nth-of-type(10) {
  animation-delay: 1s;
  background: linear-gradient(to right, #e67e22 50%, #2980b9 50%);
}
.dna .protein:nth-of-type(9) {
  animation-delay: 0.9s;
  background: linear-gradient(to right, #f1c40f 50%, #e67e22 50%);
}
.dna .protein:nth-of-type(8) {
  animation-delay: 0.8s;
  background: linear-gradient(to right, #f1c40f 50%, #e67e22 50%);
}
.dna .protein:nth-of-type(7) {
  animation-delay: 0.7s;
  background: linear-gradient(to right, #2ecc71 50%, #f1c40f 50%);
}
.dna .protein:nth-of-type(6) {
  animation-delay: 0.6s;
  background: linear-gradient(to right, #2980b9 50%, #2ecc71 50%);
}
.dna .protein:nth-of-type(5) {
  animation-delay: 0.5s;
  background: linear-gradient(to right, #e67e22 50%, #2ecc71 50%);
}
.dna .protein:nth-of-type(4) {
  animation-delay: 0.4s;
  background: linear-gradient(to right, #2ecc71 50%, #f1c40f 50%);
}
.dna .protein:nth-of-type(3) {
  animation-delay: 0.3s;
  background: linear-gradient(to right, #2980b9 50%, #2980b9 50%);
}
.dna .protein:nth-of-type(2) {
  animation-delay: 0.2s;
  background: linear-gradient(to right, #e67e22 50%, #2ecc71 50%);
}
.dna .protein:nth-of-type(1) {
  animation-delay: 0.1s;
  background: linear-gradient(to right, #2ecc71 50%, #e67e22 50%);
}
.dna .protein b {
  width: 1em;
  height: 2.7em;
  background: #e74c3c;
  transform-origin: 0 center;
  transform: rotateX(-40deg);
  position: absolute;
  top: 0;
  left: -1em;
}
.dna .protein b:nth-of-type(2) {
  transform: rotateX(40deg);
  left: auto;
  right: -1em;
  background-color: #3498db;
}
.dna .protein:last-child b {
  display: none;
}
@keyframes rot {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
html,
body {
  height: 100%;
}
body {
  background: linear-gradient(135deg, #160C23, #7B6762);
}
