.fondoanti {
	background-image: url("../img/fondoxd.jpg");
	 background-repeat: no-repeat;
    background-size: cover;
	height: 600px;
}

.col h1 {
	color: #FFF;
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	font-family: Bookman_Old_Style

}
.container2 {
	background-color: #FFF;
	height: 450px;
}
.imga {
	width: 300px;
	height: 150px;
	margin-left: 25%;
}
.tm {
	color: #474747;
	font-size: 28px;
	font-family: Bookman_Old_Style
}
.pm {
	color: #6E6E6E;
	font-size: 17px;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
}
.th {
	color: #474747;
	font-size: 28px;
	font-family: Bookman_Old_Style
}
.ph {
	color: #6E6E6E;
	font-size: 17px;
	text-align: justify;
	padding-left: 6%;
	padding-right: 6%;
}
.container2 img {
	transition: all .7s ease
}
.container2 img:hover {
	transform: scale(.9);	
}
.container3 {
	background: #1A324A;
	height: 500px;
}

.a {
	top: 10%;
	left: 5%;
}
.a p {
	font-size: 30px;
	color: #000;
}
@media screen and (max-width:548px){
	.container2 {
		height:925px; 
	}	
	.imga {
		margin: 0;
		width: 70%;
		margin-left: 12%;
	}
}

.diseñoboton {
	background: ;
	border: none;
}
.container3 p {
	transform: translate(-50,-50);
	color: #1670f0;
	padding: 10px 10px;
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	box-shadow: 0 20px 50px rgba(0,0,0, .5)	
}
. p:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255,255,255,.05);
}
button:hover {
	background:rgba(55,98,146,.05);
}
