* {
	margin: 0;
	padding: 0;
}
.fondo1 {
	background:rgba(78,122,178,3);
}
.razones {
	color:#FFF;
	padding-top: 50px;
	font-size: 35px;
	text-align: center;
}
.separador {
	height: 100px;
}
video {
	border:solid black 3px;
}

